*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 100;
    text-align: center;
    color: #444;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a.underline {
    text-decoration: underline;
}

.bold, .bold a { font-weight: 400; }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 768px;
    width: 80%;
    margin: 0 auto;
    align-items: stretch;
    line-height: 1.4;
}

.kc-icon {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 60px;
    padding: 30px;
    box-sizing: content-box;
}

.menu {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    font-size: 90%;
    position: relative;
}

.menu .menu-mobile {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 8px 0;
}

.menu .menu-desktop {
    display: none;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
}

.menu .menu-desktop div a {
    display: block;
    padding: 8px 12px;
}

.menu .menu-desktop .menu-bullet {
    padding: 8px 0;
}

.menu .menu-dropdown {
    position: absolute;
    top: 34px;
    width: 100%;
    background-color: #444;
    z-index: 1;
}

.menu .menu-dropdown.menu-dropdown-open {
    animation: fadeInAndDown 0.5s;
}

.menu .menu-dropdown-item {
    display: block;
    margin: 0 auto;
    color: #FFF;
    width: 80%;
    padding: 10px 0;
    border-bottom: 1px solid #FFF;
}

.menu .menu-dropdown a:last-child .menu-dropdown-item {
    border-bottom: none;
}

main {
    flex: 1;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.item {
    display: block;
    padding-bottom: 24px;
    height: auto;
    min-height: 145px;
    max-width: 100%;
}

div[data-page="work"] a { 
    min-width: 50%;
}

.title {
    padding: 24px 0;
    font-size: 140%;
}

.noselect {
    user-select: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 20px;
    padding: 24px 0;
    flex-wrap: wrap;
}

footer .social-item {
    background-size: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 24px;
    margin-bottom: 12px;
    font-size: 90%;
}

footer .social-item.dribbble { background-image: url('/img/dribbble-icon.png'); }
footer .social-item.instagram { background-image: url('/img/instagram-icon.png'); }
footer .social-item.twitter { background-image: url('/img/twitter-icon.png'); }
footer .social-item.medium { background-image: url('/img/medium-icon.png'); }
footer .social-item.fhpx { background-image: url('/img/500px-icon.png'); }

div[data-page="about"] .about-content {
    padding-bottom: 24px;
}

div[data-page="about"] .about-content .about-desc {
    text-align: justify;
}

div[data-page="about"] .about-content .about-title {
    font-size: 120%;
    padding-bottom: 24px;
}

.active {
    display: block;
    animation: fadeIn 3s;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInAndDown {
    0%   { 
        opacity: 0;
        transform: translateY(-8px);
    }
    100% { opacity: 1; }
}

@media (min-width: 640px) {
    .menu .menu-desktop { display: flex; }
    .menu .menu-mobile { display: none; }
    .menu .menu-dropdown { display: none; }

    div[data-page="about"] .row {
        justify-content: flex-start;
        align-items: flex-start;
    }

    div[data-page="about"] .about-content {
        flex: 1;
        padding-left: 24px;
    }

    div[data-page="about"] .about-content .about-title {
        text-align: left;
        padding-top: 0;
    }

    div[data-page="about"] .about-content .about-desc {
        text-align: left;
    }

    div[data-page="about"] .item { max-width: 33%; }

    div[data-page="work"] a { max-width: 50%; }
    div[data-page="work"] a:first-child { padding-right: 12px; }
    div[data-page="work"] a:last-child { padding-left: 12px; }

    .row { justify-content: center; }
}
